.sales_section {
    max-width: 1380px;
    margin: 50px auto;
}

.sales_header h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}

.sales_group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin-top: 20px;
}