 .container {
    background-color: #7c9c81;
}
 
 .products_container {
    max-width: 1380px;
    margin: 75px auto 0 auto;
 }

 .products_container h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

@media (max-width: 768px) {
    .products_container {
        margin: 0 auto;
    }

    .container {
        width: 650px;
    }

    .products_container h2 {
        margin-left: 25px;
    }

    .products {
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       gap: 10px;
       margin-left: 10px;
    }
}