.categories_section {
    max-width: 1380px;
    margin: 0 auto;
}

.categories_header {
    display: flex;
    align-items: center;
    gap: 96px;
}

.categories_header h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}

.categories_header button {
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: #326d3b;
    border: 2px solid #326d3b;
    width: 250px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.categories_header button:hover {
    background-color: transparent;
    border: 1px solid #326d3b;
    color: #326d3b;
    transition: 0.3s all;
}

.categories_group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .categories_header h1 {
        margin-left: 75px;
    }
}