.container {
    background-color: #7c9c81;
}

.products_container {
    max-width: 1380px;
    margin: 75px auto 0 auto;
}

.products_container h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}