.products_container {
    max-width: 1380px;
    margin: 90px auto;
}

.products_container h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 81px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}