a {
    text-decoration: none;
    color: black;
}

.product_item img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    filter: brightness(85%);
}

.price_info {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
}

.title {
    margin: 5px;
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    text-align: center;
}

.discount_price {
    font-size: 28px;
    font-weight: 500;
}

.price {
    font-size: 20px;
    text-decoration-line: line-through;
    color: #7e7e7e;
}

.sale_percentage {
    font-size: 20px;
    font-weight: 600;
    color: #326d3b;
}

.main_price {
    font-size: 25px;
    font-weight: 500;
}

.product_item button {
    margin-left: 10px;
    width: 279px;
    height: 68px;
    background-color: white;
    border: 1px solid #326d3b;
    border-radius: 15px;
    color: #326d3b;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.product_item:hover button {
    opacity: 1;
    transform: translateY(-190px);
}