.wrapper {
    background-color: #7c9c81;
}

.basket_page {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.title {
    margin: 75px 0 1px 0;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding-top: 40px;
    text-align: center;
}

.basket_container {
    display: flex;
    flex-direction: column;
}

.link {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.basket_block {
    border: 1px solid white;
    background-color: white;
    border-radius: 21px;
    width: 496px;
    height: 490px;
    padding: 25px;
}

.basket_block h2 {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
}

.sum_block {
    display: flex;
    gap: 225px;
    margin-top: 47px;
    margin-bottom: 15px;
}

.sum {
    font-size: 25px;
    font-weight: 500;
}

.total_price {
    font-size: 32px;
    font-weight: 500;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.btns button {
    width: 446px;
    height: 60px;
    background: #326d3b;
    border-radius: 20px;
    border-color: transparent;
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}

.btns button:hover {
    border: 1px solid #326d3b;
    background-color: transparent;
    color: #326d3b;
    transition: 0.4s all;
}

.btn_block input {
    width: 446px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #326d3b;
    border-radius: 20px;
    padding: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #929292;
    margin-top: 35px;
    margin-bottom: 25px;
    outline: #326d3b;
}

.error {
    color: #e65757;
    font-weight: 500;
    padding-bottom: 8px;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .wrapper {
        width: 650px;
        margin-top: -70px;
    }

    .basket_page {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        margin-top: 40px;
        gap: 40px;
    }
}