.categories_section {
    max-width: 1380px;
    margin: 10px auto;
}

.categories_section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 81px;
}

.categories_group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    column-gap: 26px;
}

@media (max-width: 768px) {
    .categories_section h1 {
        text-align: center;
        margin-left: 200px;
    }
}