.discount_form_section {
    max-width: 1380px;
    margin: 0 auto;
    background-image: url("../../media/banner_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 600px;
    display: flex;
    text-align: center;
    position: relative;
}

.discount_form_section img {
    height: 422px;
    width: 422px;
    margin-top: 27px;
}

.discount_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.discount_form h1 {
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: white;
}

.discount_form p {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.discount_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    gap: 30px;
}

.discount_form form::placeholder {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #6C6C6C;
    margin-left: 30px;
}

.discount_form input {
    width: 473px;
    height: 75px;
    border: 2px solid transparent;
    border-radius: 25px;
    outline: none;
    padding: 15px;
}

.discount_form button {
    width: 473px;
    height: 75px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #326d3b;
    color: #326d3b;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.discount_form button:hover {
    background-color: #326d3b;
    color: white;
    transition: 0.3s all;
}

.error {
    color: black;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 68px;
    top: 280px;
}

@media (max-width: 768px) {
    .discount_form_section {
        height: 600px;
        width: 650px;
    }

    .discount_form {
        margin-left: 90px;
    }

    .discount_form h1  {
        font-size: 70px;
    }
}

