.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;
    position: relative;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 850px;
}

.contacts h1 {
    font-size: 40px;
}

.contacts p {
    font-size: 70px;
    font-weight: 600;
}

.social_media {
    display: flex;
    gap: 68px;
    width: 196px;
    height: 77px;
}

.social_media a:hover {
    color: #339933;
}

.social_media a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
}

.icon {
    margin-left: 13px;
    font-size: 50px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
}

.address h1 {
    font-size: 40px;
    font-weight: 700;
}

.address h2 {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
}

.address h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.address p {
    font-size: 18px;
    font-weight: 500;
}



.map iframe {
    position: absolute;
    width: 1380px;
    height: 525px;
    left: 0;
    top: 300px;
}