.categories_card {
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.categories_card img {
    height: 340px;
    width: 320px;
    object-fit: cover;
}

.categories_card p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 58px;
}