.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    margin: 4px 0;
    width: 356px;
    height: 48px;
    border-radius: 55px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .green {
    background-color: #326d3b;
    border: 1px solid transparent;
    color: white;
  }
  
  .white {
    background-color: white;
    border: 1px solid #CFD8DC;
  }