.banner_section {
    margin-top: 90px;
}

.banner_section img {
    width: 100%;
    object-fit: cover;
    height: 700px;
}

.banner_sub_section {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    position: absolute;
    bottom: 120px;
}

.text_sale {
    font-size: 80px;
    font-weight: 600;
    color: white;
}

.text_descr {
    font-size: 63px;
    font-weight: 600;
    color: black;
    border-bottom: 4px solid black;
}

.info a {
    display: block;
    padding: 20px 50px;
    background-color: black;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 13px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    width: 160px;
    margin-top: 30px;
}

.info a:hover {
    background-color: transparent;
    border: 2px solid white;
    transition: 0.3s all;
}

.description {
    max-width: 600px;
    margin-top: 40px;
}